<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Все издательства</h1>

<a href="/publisher/filter">Поиск издательства</a>
<a href="/publisher/add">Добавить издательство</a>
<div th:each="el : ${publisher}">
    <h3 th:text="${el.name}"></h3>
    <p th:contextmenu="${el.opening_year}"></p>
    <br>
    <a th:href="'/publisher/' + ${el.id}">Подробнее</a>
</div>
</body>
</html>